<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <!--Header Section-->
    <%- include('header') %>
    <!--Hero Section-->
    <%- include('hero') %>
    <!--Search Section-->
    <%- include('search') %>
    <!--Location Section-->
    <%- include('location') %>
    <!--Footer Section-->
    <%- include('footer') %>
    <!--Scripts-->
    <%- include('script') %>
  </body>
</html>
