<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <!--Header Section-->
    <%- include('header') %>
    <!--Job Cards Section-->
    <div class="jobgallery--container">
      <!--Container for the jobcards-->
      <%- include('jobcard') %>
      <!--Container for the jobcards-->
      <%- include('jobcard') %>
      <!--Container for the jobcards-->
      <%- include('jobcard') %>
    </div>

    <!--Footer Section-->
    <%- include('footer') %>
  </body>
</html>
